/*////////////////////////////////////
//Styling of Body
///////////////////////////////////*/

body{
	background-image: url(img/background.png);
	background-size: 200px 200px;
}

/*////////////////////////////////////
//Styling of Game Header
///////////////////////////////////*/
#level-image{
	display: block;
	width: 30px;
	margin-left:5%;
}

#progress-bar{
	width:10%;
	height: 40px;
	background-color: green;
	border:1px solid black;
	border-radius: 20%;
}

#level-text{
	margin: 5px;
	width: 200px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:20px;
	color: black;
}

#lives-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 10px;
}

#lives-title{
	text-align: left;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:45px;
}

.lives-image{
	display:inline-block;
	width: 70px;
	height: 70px;
}

/*////////////////////////////////////
//Styling of Game Area
///////////////////////////////////*/

#main-game-area{
	padding-top: 100px;  /*50px for level 6, 10px for level 7, 50px for level 8, 30px for level 9*/
	border:1px solid black;
	height:450px;
	text-align: center;
}

/*////////////////////////////////////
//Styling of Level 1
///////////////////////////////////*/

#level1 {
/*	display: none;*/
	margin: 0;
	padding: 0;
}

#game-title {
	font-family: 'Sniglet', cursive;
	font-weight: 800;
	font-size:70px;
}

#start-game{
	font-family: 'Gloria Hallelujah', cursive;
	font-size:30px;
}

/*////////////////////////////////////
//Styling of Level 2
///////////////////////////////////*/

#level2 {
	display: none;
	margin: 0;
	padding: 0;
}

#level2-text {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 70px;
}

#level2-game {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#level2-game-text {
	display: inline-block;
	font-size: 50px;
	font-size: bold;
}

#level2-fake {
	display: inline-block;
	border:none;
	width: 100px;
	height: 50px;
	margin: 20px 0;
	border-bottom: 2px solid black;
}

/*////////////////////////////////////
//Styling of Level 3
///////////////////////////////////*/

#level3 {
	display: none;
	margin: 0;
	padding: 0;
}

#level3-text {
	font-size: 70px;
	font-family: 'Kaushan Script', cursive;
}

#level3-answer {
	margin-top: 30px;
	width: 300px;
	height: 50px;
	border: none;
	border-bottom: 2px solid black;
}

/*////////////////////////////////////
//Styling of Level 4
///////////////////////////////////*/

#level4 {
	display: none;
	margin: 0;
	padding: 0;
}

#level4-text {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 70px;
	margin: 0;
}

.level4-dot-container{
	display: inline-block;
	margin: 20px 50px;
	height: 200px;
	width: 200px;
}

#dot1 {
	border: 1px solid #3D3B30;
	border-radius: 50%;
	background-color: #E7E247;
	width: 190px;
	height: 190px;
	margin: 0 auto;
}

#dot2 {
	border: 1px solid #3D3B30;
	border-radius: 50%;
	background-color: #5C80BC;
	width: 100px;
	height: 100px;
	margin: 40px auto;
}

/*////////////////////////////////////
//Styling of Level 5
///////////////////////////////////*/

#level5 {
	display: none;
	margin: 0;
	padding: 0;
}

#level5-text {
	font-family: 'Amatic SC', cursive;
	font-weight:700;
	font-size:70px;
}

#cat {
	position: absolute;
	display: inline-block;
	top: 200px;
	left: 550px;
	font-size: 30px;
	margin: 0 10px;
}

/*////////////////////////////////////
//Styling of Level 5
///////////////////////////////////*/

#level6 {
	display: none;
	margin: 0;
	padding: 0;
	font-family: 'Baloo', cursive;
}

#level6-text1 {
	display: initial;
	font-weight: bold;
	font-size: 50px;
}

#level6-text2{
	display: none;
	font-weight: bold;
	font-size: 50px;
}

.level6-icon{
	display:inline-block;
	position: absolute;
	font-size: 30px;
}

.icon1 {
	top:120px;
	left:420px;
}

.icon2{
	top:279px;
	left:670px;
}

.icon3{
	top:330px;
	left:190px;
}

.icon4{
	top:230px;
	left:867px;
}

.icon5{
	top:165px;
	left:979px;
}

.icon6{
	top:245px;
	left:53px;
}

.icon7{
	top:216px;
	left:320px;
}

.icon8{
	top:361px;
	left:982px;
}

.icon9{
	top:327px;
	left:415px;
}

.icon10{
	top:150px;
	left:660px;
}

/*////////////////////////////////////
//Styling of Level 7
///////////////////////////////////*/

#level7 {
	display: none;
	margin: 0;
	padding: 0;
}

#level7-text {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	margin-bottom: 5px;
}

#level7-text2 {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	display: none;
}

#level7-board {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px solid black;
	width: 30%;
	margin: 0 auto;
}

.level7-box{
	width: 100px;
	height: 100px;
	margin:5px;
	border: 1px solid black;
	background-color: #B4B8C5;
	border-radius: 10px;
}

#level7-board-text{
	font-family: 'Righteous', cursive;
	width: 100px;
	height: 100px;
	margin: 5px;
	font-size: 14px;
}

/*////////////////////////////////////
//Styling of Level 8
///////////////////////////////////*/

#level8 {
	display: none;
	margin: 0;
	padding: 0;
}

#level8-text {
	font-family: 'Amatic SC', cursive;
	font-size:40px;
}

#level8-board {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 23px;
	font-family: 'Bahianita',cursive;
}


/*////////////////////////////////////
//Styling of Level 9
///////////////////////////////////*/

#level9 {
	display: none;
	margin: 0;
	padding: 0;
}

#level9-text {
	font-family: 'Courgette', cursive;
	font-size:40px;
}

#clock {
	background-color: #252422;
	border: 3px solid #CCC5B9;
	border-radius: 30%;
	width:400px;
	height:200px;
	margin: 20px auto;
}

.clock-button {
	width: 100px;
	height: 50px;
	font-size: 25px;
	border-radius: 30%;
	font-family: 'Bubblegum Sans', cursive;

}

#clock-text{
	font-family: 'Bahianita',cursive;
	color: white;
	font-size: 125px;
}

#start-clock{
	display: initial;
}

#stop-clock{
	display: none;
}

/*////////////////////////////////////
//Styling of Level 10
///////////////////////////////////*/

#level10 {
	display: none;
	margin: 0;
	padding: 0;
}

#level10-text {
	font-family: 'Barriecito', cursive;
	text-align: center;
	font-size: 50px;
}

#level10-answer-text{
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: bold;
}

#level10-answer{
	width: 300px;
	height: 50px;
	border: none;
	border-bottom: 2px solid black;
}

/*////////////////////////////////////
//Styling of GameWon
///////////////////////////////////*/

#gamewon {
	display: none;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 80px;
}

.restart-button{
	width: 200px;
	height: 80px;
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	text-align: center;
}

/*////////////////////////////////////
//Styling of GameLose
///////////////////////////////////*/

#gamelose {
	display: none;
	position: absolute;
	top: 93px;
	left: 70px;
	background-color:grey;
	opacity: 0.8;
	width: 1140px;
	height: 450px;
	text-align: center;
	padding-top: 100px;
}

#gamelose-text {
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
	font-weight: bold;
	color: white;
}
/*////////////////////////////////////
//Styling of Footer
///////////////////////////////////*/
.disclaimer{
	color: grey;
	text-align: center;
	margin: 0;
}